body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
}

.active {
    position: relative;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
}

.hidden{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.icon-item {
    fill: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
    font-style: normal;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .header-line {
    display: flex;
    align-items: center;
    position: relative;
}

.header .nav {
    display: flex;
    align-items: center;
    padding: 16px;
    overflow: hidden;
}

.menu-btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    fill: #2f2f37;
}

.menu-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 72px 16px 40px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-window.is-open {
    transform: translateX(-100%);
}

.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus,
.menu-close-btn:active {
    background-color: #404bbf;
    border: none;
}

.menu-close-btn:hover .icon-cross,
.menu-close-btn:focus .icon-cross,
.menu-close-btn:active .icon-cross {
    fill: #ffffff;
}

.header .navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header .nav-link.active {
    color: #404bbf;
}

.header .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.header .address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.navigation-list .nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.address .address-link {
    font-weight: 500;
    line-height: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-icon-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.address .address-link:hover,
.address .address-link:active,
.address .address-link:focus {
    color: #404bbf;
}

a:hover,
a:active,
a:focus {
    color: #404bbf;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-section,
.footer {
    background-color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo .logo-text {
    color: #2e2f42;
}

.main-section .main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
}

.main-btn,
.subscribe-btn,
.modal-form-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.subscribe-btn:hover,
.modal-form-btn:hover,
.main-btn:active,
.subscribe-btn:active,
.modal-form-btn:active,
.main-btn:focus,
.subscribe-btn:focus .modal-form-btn:focus {
    background-color: #404bbf;
}

.main-section {
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1440px;
}

.main-section .main-title {
    margin: 0 auto 72px;
    width: 216px;
}

.main-btn {
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    margin: 0 auto;
}

.main-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.subtext {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.qualities {
    padding: 96px 16px;
}

.qualities .qualities-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.qualities .qualities-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.qualities-icon-container {
    display: none;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
}

.qualities-icon {
    fill: #2e2f42;
}

.team .subtitle,
.team .subtext {
    text-align: center;
}

.team {
    padding: 96px 28px;
    background: #f4f4fd;
}

.team .team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team .team-card {
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    max-width: 264px;
}

.team .main-subtitle {
    margin-bottom: 72px;
}

.team .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team .subtext {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.team .team-name {
    padding: 32px 16px;
}

.team .subtitle,
.team .subtext {
    margin-bottom: 8px;
}

.portfolio {
    padding: 96px 16px;
}

.portfolio .portfolio-card {
    margin: 0 auto;
    background-color: #ffffff;
}

.portfolio .main-subtitle {
    margin-bottom: 72px;
}

.portfolio .portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio .portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    max-width: 356px;
}

.portfolio .portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio .portfolio-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio .subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio-card:hover .portfolio-overlay-text {
    transform: translateY(0);
}

.footer {
    padding: 96px 16px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.footer .conclusion {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.footer .logo .logo-text {
    color: #f4f4fd;
}

.footer-first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer .logo {
    display: inline-block;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.social-icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.social-icon-link,
.social-icon-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}

.social-icon-link-footer:hover,
.social-icon-link-footer:focus {
    background-color: #31d0aa;
}

.footer .social-text,
.subscribe-title {
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer .social-icon-list-footer {
    display: flex;
    gap: 16px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.subscribe-form-title {
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.subscribe-form-field {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-form-field::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    border: none;
}

.subscribe-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.modal-window {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 288px;
    max-width: 408px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
    background-color: #404bbf;
    border: none;
}

.icon-cross {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon-cross,
.modal-close-btn:focus .icon-cross,
.modal-close-btn:active .icon-cross {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-section {
    margin-bottom: 8px;
}

.modal-form-label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}

.modal-form-field {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:active,
.modal-form-input:focus {
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    z-index: -1;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .form-icon,
.modal-form-input:active + .form-icon,
.modal-form-input:focus + .form-icon {
    fill: #4d5ae5;
}

.modal-form-comment {
    margin-bottom: 16px;
}

.modal-form-comment-area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment-area:hover,
.modal-form-comment-area:active,
.modal-form-comment-area:focus {
    border-color: #4d5ae5;
}

.modal-form-license {
    margin-bottom: 24px;
}

.modal-form-license-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.modal-form-checkbox:checked + .modal-form-license-label .checkbox {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
}

.policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media (min-resolution: 192dpi) {
    .main-section {
        background-image: linear-gradient(
                to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url("../images/background@2x.jpg");
    }
}

@media (min-width: 768px) {
    .menu-btn,
    .menu-close-btn,
    .menu-social-icon-list {
        display: none;
    }

    .header .nav {
        padding: 0px 16px 0px;
    }

    .menu-window {
        transform: translateX(0);
        position: static;
        max-width: 1158px;
        max-height: 72px;
        flex-direction: row;
        padding: 0;
        align-items: center;
    }

    .header .navigation-list {
        flex-direction: row;
    }

    .address .address-list {
        gap: 12px;
    }

    .header .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }

    .navigation-list .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        text-transform: none;
    }

    .header .logo {
        margin-right: 120px;
    }

    .main-section .main-title {
        font-size: 56px;
        text-align: center;
        color: #ffffff;
        text-transform: none;
        margin-bottom: 36px;
        width: 496px;
    }

    .main-section {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .subtitle {
        text-align: left;
    }

    .qualities .qualities-list,
    .team .team-list,
    .portfolio .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .qualities .qualities-list,
    .portfolio .portfolio-list {
        row-gap: 72px;
    }

    .qualities .qualities-item,
    .team .team-card,
    .portfolio .portfolio-card {
        width: calc((100% - 24px) / 2);
    }

    .team,
    .footer {
        padding: 96px 108px;
    }

    .team .team-list {
        row-gap: 64px;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer .conclusion {
        max-width: 264px;
    }

    .footer-first-section,
    .footer-socials,
    .footer-container,
    .subscribe {
        align-items: flex-start;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-form-field {
        width: 264px;
    }
}

@media (min-width: 1158px){
    .address .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .header .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .main-section {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-section .main-title {
        margin-bottom: 48px;
    }

    .qualities-icon-container{
        display: flex;
    }

    .qualities .qualities-list,
    .team .team-list,
    .portfolio .portfolio-list {
        gap: 24px;
    }

    .qualities .qualities-item,
    .team .team-card {
        width: calc((100% - 72px) / 4);
    }

    .portfolio .portfolio-card{
        width: calc((100% - 48px) / 3);
    }

    .footer-container {
        gap: 0;
        flex-wrap: nowrap;
    }
    
    .footer-first-section{
        margin-right: 180px;
    }

    .footer-socials{
        margin-right: 80px;
    }
}