body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #2e2f42;
}

address {
    font-style: normal;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.navigation-list .nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address .address-link {
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address .address-link:hover,
.address .address-link:active,
.address .address-link:focus {
    color: #404bbf;
}

a:hover,
a:active,
a:focus {
    color: #404bbf;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-section,
.footer {
    background-color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo .logo-text {
    color: #2e2f42;
}

.main-section .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.main-section .main-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.main-section .main-btn:hover,
.main-section .main-btn:active,
.main-section .main-btn:focus {
    background-color: #404bbf;
}

.main-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.subtext {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team .subtitle,
.team .subtext {
    text-align: center;
}

.team {
    background: #f4f4fd;
}

.team .team-card {
    background-color: #ffffff;
}

.portfolio .portfolio-card {
    background-color: #ffffff;
}

.conclusion {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer .logo .logo-text {
    color: #f4f4fd;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav .logo {
    margin-right: 76px;
}

.header .navigation-list {
    display: flex;
    gap: 40px;
}

.header .navigation-item{
    padding: 24px 0;
}

.header .address-list {
    display: flex;
    gap: 40px;
}

.main-section {
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-section .main-title {
    margin: 0 auto;
    max-width: 496px;
}

.main-section .main-btn {
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    margin: 48px auto 0;
}

.qualities .visually-hidden {
    display: none;
}

.qualities .qualities-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.qualities .qualities-item {
    width: calc((100% - 72px) / 4);
}

.qualities .subtitle {
    margin-bottom: 8px;
}

.team .main-subtitle {
    margin-bottom: 72px;
}

.team .team-list {
    display: flex;
    gap: 24px;
}

.team .team-card {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team .team-name {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team .subtitle {
    margin-bottom: 8px;
}

.portfolio .main-subtitle {
    margin-bottom: 72px;
}

.portfolio .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio .portfolio-card {
    width: calc((100% - 48px) / 3);
}

.portfolio .portfolio-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio .subtitle {
    margin-bottom: 8px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .conclusion {
    max-width: 264px;
}
