body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.active {
    position: relative;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-item {
    fill: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
    font-style: normal;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .header-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 76px;
}

.header .navigation-list {
    display: flex;
    gap: 40px;
}

.header .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header .nav-link.active {
    color: #404bbf;
}

.header .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.header .address-list {
    display: flex;
    gap: 40px;
}

.navigation-list .nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address .address-link {
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-link:hover,
.address .address-link:active,
.address .address-link:focus {
    color: #404bbf;
}

a:hover,
a:active,
a:focus {
    color: #404bbf;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-section,
.footer {
    background-color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo .logo-text {
    color: #2e2f42;
}

.main-section .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.main-btn,
.subscribe-btn,
.modal-form-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.subscribe-btn:hover,
.modal-form-btn:hover,
.main-btn:active,
.subscribe-btn:active,
.modal-form-btn:active,
.main-btn:focus,
.subscribe-btn:focus
.modal-form-btn:focus {
    background-color: #404bbf;
}

.main-section {
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1440px;
}

.main-section .main-title {
    margin: 0 auto;
    max-width: 496px;
}

.main-btn {
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    margin: 48px auto 0;
}

.main-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.subtext {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.qualities .visually-hidden {
    display: none;
}

.qualities .qualities-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.qualities .qualities-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc((100% - 72px) / 4);
}

.qualities-icon-container {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
}

.qualities-icon {
    fill: #2e2f42;
}

.team .subtitle,
.team .subtext {
    text-align: center;
}

.team {
    background: #f4f4fd;
}

.team .team-card {
    background-color: #ffffff;
}

.team .main-subtitle {
    margin-bottom: 72px;
}

.team .team-list {
    display: flex;
    gap: 24px;
}

.team .team-card {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team .team-name {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team .subtitle,
.team .subtext {
    margin-bottom: 8px;
}

.portfolio .portfolio-card {
    background-color: #ffffff;
}

.portfolio .main-subtitle {
    margin-bottom: 72px;
}

.portfolio .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio .portfolio-card {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio .portfolio-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio .subtitle {
    margin-bottom: 8px;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio-card:hover .portfolio-overlay-text {
    transform: translateY(0);
}

.footer {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer .conclusion {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer .logo .logo-text {
    color: #f4f4fd;
}

.footer-first-section {
    margin-right: 120px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
}

.social-icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.social-icon-link,
.social-icon-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}

.social-icon-link-footer:hover,
.social-icon-link-footer:focus {
    background-color: #31d0aa;
}

.footer .social-text,
.subscribe-title {
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer .social-icon-list-footer {
    display: flex;
    gap: 16px;
}

.subscribe {
    margin-left: 80px;
}

.subscribe-form-title {
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-form-field {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-form-field::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    border: none;
}

.subscribe-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
    background-color: #404bbf;
    border: none;
}

.icon-cross {
    fill: #2e2f42;
    tran: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon-cross,
.modal-close-btn:focus .icon-cross,
.modal-close-btn:active .icon-cross {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-section {
    margin-bottom: 8px;
}

.modal-form-label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}

.modal-form-field {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:active,
.modal-form-input:focus {
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    z-index: -1;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover .form-icon,
.modal-form-input:active .form-icon,
.modal-form-input:focus .form-icon {
    fill: #4d5ae5;
}

.modal-form-comment {
    margin-bottom: 16px;
}

.modal-form-comment-area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment-area:hover,
.modal-form-comment-area:active,
.modal-form-comment-area:focus {
    border-color: #4d5ae5;
}

.modal-form-license {
    margin-bottom: 24px;
}

.modal-form-license-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.modal-form-checkbox:checked .checkbox {
    border: none;
    fill: #f4f4fd;
    background-color: #404bbf;
}

.policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
